<% layout('layout') %>
<h1>Your Bookmarked Blogs</h1>

<% blogs.forEach(blog => { %>
  <div>
    <h2><%= blog.title %></h2>
    <p><%= blog.content.substring(0, 100) %>...</p>
    <a href="/blog/<%= blog._id %>">Read More</a>
  </div>
<% }) %>

