<footer class="bg-dark text-center text-light py-4">
    <div>
      <a><i class="fa-brands fa-instagram mx-2"></i></a>
      <a><i class="fa-brands fa-facebook mx-2"></i></a>
      <a><i class="fa-brands fa-linkedin mx-2"></i></a>
    </div>
    <div class="mt-2">
      © 2025 Blogify — All Rights Reserved.
    </div>
</footer>
